/* Web Fonts - Changa One and DM Sans */
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* CSS variables */

:root {
  --color-primary: #ff7151;
  --color-primary-dark: #dc5a3d;
  --color-secondary: #164c64;
  --color-white: #f5f5f5;
  --color-dark: #111;
  --hero-heading-size: 4.8rem;
  --hero-subheading-size: 2.4rem;
  --font-primary: "Changa One", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100vw;

  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)),
    rgba(0, 0, 0, 0.2) url("../images/landing-page.jpg") no-repeat center/cover;

  backdrop-filter: blur(0.15rem);

  font-family: var(--font-secondary);
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: normal;
  border-bottom: 0.1rem dotted var(--color-primary);
}

ul {
  list-style: none;
}

/* Navbar */

.navbar {
  position: fixed;
  min-width: 90vw;
  background-color: var(--color-primary);
  top: 3%;
  left: 50%;
  transform: translate(-50%, -3%);

  border-radius: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.75rem;
}

.navbar .nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  font-size: 2rem;
  text-transform: uppercase;
  /* gap: 2rem; */
}

.navbar .nav-list li {
  padding-bottom: 0.25rem;
  border-bottom: 0.1rem dotted var(--color-white);
  transition: 0.3s ease;
}

.navbar .nav-list span {
  margin: 0 1.25rem;
  color: var(--color-white);
}

.navbar .nav-list li:hover {
  color: var(--color-secondary);
  border-bottom: 0.01rem solid var(--color-secondary);
}

/* Hero Page */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);

  text-align: center;
}

.hero-heading {
  font-family: var(--font-primary);
  font-size: 9rem;
  line-height: 1.8;
  letter-spacing: 0.2rem;
}

.hero-subheading {
  font-family: var(--font-secondary);
  font-size: 4rem;
  width: 90%;
  font-weight: 400;
  line-height: 1.5;
  border-bottom: none;
  letter-spacing: 0.2rem;
}

/* main container */

.container {
  margin-top: 14vh;
  min-height: calc(100vh - 14vh);
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* user registration: log in, sign up page and delete event */

.login,
.sign-up,
.delete-event {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40rem;
  max-width: 45rem;
  padding: 3rem 3rem 1rem 3rem;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--color-white);
}

.login h1,
.sign-up h1,
.delete-event h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.delete-event h4 {
  font-size: 2.25rem;
  text-align: center;
}

.login form,
.sign-up form,
.delete-event form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 36rem;
}

.login form p,
.sign-up form p {
  width: 100%;
  margin-bottom: 1.5rem;
}

.login form label,
.sign-up form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.login form input[type="text"],
.login form input[type="password"],
.sign-up form input[type="text"],
.sign-up form input[type="password"] {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--color-white);
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.login form input[type="hidden"],
.sign-up form input[type="hidden"] {
  display: none;
}

.login form .btn,
.sign-up form .btn,
.delete-event form .btn {
  margin: 2rem 0;
  padding: 1rem 2rem;
  font-size: 1.75rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.delete-event .btn.btn-cancel {
  background: var(--color-white);
  color: var(--color-dark);
  padding: 0.5rem 2rem;
  margin-top: -0.25rem;
}

.login form .btn:hover,
.sign-up form .btn:hover {
  background-color: var(--color-primary-dark);
}

.sign-up form p span,
.sign-up form li {
  color: var(--color-dark);
  font-weight: bold;
}

.sign-up form ul {
  list-style: disc;
  margin-left: 2rem;
}

.sign-up .red-text {
  background: red;
  display: block;
  padding: 1rem 2rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

/* all events page  */

.events-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  height: 100%;
  overflow: auto;

  padding: 1rem 3rem 3rem 3rem;
  min-width: 40rem;
  max-width: 75rem;
}

.events-container .card {
  display: flex;
  gap: 3rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--color-white);
}

.events-container .card .card-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}

.events-container .card .card-content .card-title {
  font-size: 2.7rem;
  font-weight: bold;
  color: var(--color-primary);
}

.events-container .card .card-content p {
  font-size: 1.8rem;
}

.events-container .card .card-action {
  padding: 1rem;
  background-color: #dc5a3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.events-container .card .card-action a,
.events-container .card .card-action a button,
.events-container .card .card-action form button {
  text-align: left;
  display: block;
  width: 100%;
  color: var(--color-white);
  border: none;
  border-bottom: 0.1rem dotted var(--color-white);
  cursor: pointer;
}

.events-container .card .card-action a button,
.events-container .card .card-action form button {
  font-size: 2rem;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

/* Media Queries */
/* @media screen and (min-width: 1000px) {
  .container,
  .navbar {
    min-width: 95rem;
  }
} */
